<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>欢迎使用飞扬博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel='stylesheet' type="text/css" href='/stylesheets/css/login/bootstrap.min.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/css/index/main.css'/>
    <link href="/stylesheets/css/index/theme.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/css/index/layout.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/css/index.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/topic.js"></script>
    <script type="text/javascript" src="/javascripts/kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript" src="/javascripts/kindeditor/lang/zh_CN.js"></script>




    <link charset="utf-8" rel="stylesheet" type="text/css" href="/stylesheets/css/topic/layout.css">


</head>

<body  data-target=".bs-docs-sidebar" data-spy="scroll" style="padding-bottom: 0px;font-family: '微软雅黑';">

<div class="navbar navbar-inverse navbar-fixed-top logged_out  windows  env-production" >
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" title="飞扬博客" href="/">
                <img src="/images/LogoMaker.png" alt="飞扬博客">
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/about">关于我们</a></li>
                </ul>
            </div>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav" id="info">
                    <% if (session.is_login) { %>
                    <li><a href="/topic/index">欢迎您,<%= session.user.username %></a></li>
                    <li><a href="/user/setting">设置</a></li>
                    <li><a href="/logout">退出</a></li>
                    <% } else { %>
                    <li><a href="/register">免费注册</a></li>
                    <li><a href="/login">登录</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="t_content"]', {
            allowFileManager : true
        });
    });
</script>

<div id="wrapper">

    <div class="site clearfix" style="padding-top: 60px;">
        <div id="site-container" class="container clearfix">



            <div class="tabbable" style="padding-top: 30px;"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="/topic/index" data-toggle="contributions">发表文章</a></li>
                    <li class="active"><a href="/topic/list/<% session.user._id %>" data-toggle="contributions">文章管理</a></li>
                    <li><a href="#tab3" data-toggle="tab">评论管理</a></li>
                </ul>
                <div class="tabnav-right">
                </div>
                <div class="tab-content">

                        <p>




                        <div class="W_main_c" ucardconf="type=1">
                            <div id="pl_content_messageList">
                                <div class="group_read">
                                    <div class="title">
                                        我的文章列表
                                        <a class="W_btn_b send_msg_btn" href="javascript:void(0);" suda-data="key=message_anonymous_send_page&value=message_anonymous_send_page" suda-uatrack="key=tblog_messages_behavior&value=send_button" node-type="postMsg">
<!--<span>
<em class="icon_mes"></em>
发私信
</span>-->
                                        </a>
                                    </div>
                                    <div class="right_bar">
                                        <div class="input_search">
                                            <form id="search_form" class="navbar-search" action="/">
                                                <input id="q" class="search-query span3" type="text" value="" name="q">
                                            </form>
                                           <!-- <form node-type="messageSearchForm" action="/messages" method="get">
                                                <div class="inner">
                                                    <div class="btns">
                                                        <a class="btn_search W_ico20 iconsearch" suda-uatrack="key=tblog_messages_behavior&value=home_search" node-type="searchMessage" href="javascript:void(0);"></a>
                                                    </div>
                                                    <input class="noborder input_default" type="text" name="key_word" node-type="messageSearchInput" value="查找联系人或私信">
                                                    <input type="hidden" value="1" name="is_search">
                                                </div>
                                            </form>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="message_wrap" node-type="message_list_box">
                                    <div class="message_acbox clearfix">
                                        <div class="bread_crumbs" node-type="msg_num">
                                            <span class="msg_num">共有2篇文章</span>
                                        </div>
                                        <div class="operation_btn" style="visibility: visible;" action-type="delMessageList" node-type="delMessageList">
                                            <a class="W_btn_b" href="javascript:void(0);">
                                                <span>批量删除</span>
                                            </a>
                                        </div>
                                        <div class=" atch_operation clearfix" style="top: 132px; left: 351px; z-index: 9990; width: 560px; height: 27px; position: absolute; visibility: hidden;">
                                            <h5 class="title">请选择需要删除的私信</h5>
                                            <div class="operation_ck">
                                                <label>
                                                    <input class="inp_ck" type="checkbox" node-type="msgCheckBoxCheckAll">
                                                    全选本页
                                                </label>
                                            </div>
                                            <div class="operation_clear_msg">
                                                <span class="clear_icon"></span>
                                                <a class="clear_link" node-type="clearMsgBox" href="javascript:void(0);">清空所有私信</a>
                                            </div>
                                            <div class="operation_btn" node-type="msg_confirm">
                                                <a class="W_btn_a" href="javascript:void(0);">
                                                    <span node-type="handleOk" action-type="handleOk">确定</span>
                                                </a>
                                                <a class="W_btn_b" href="#">
                                                    <span node-type="handleCancel" action-type="handleCancel">取消</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="private_list_box">
                                        <div node-data="pageNumber=1" node-type="messageList">
                                            <% if (topics.length) { %>
                                            <% topics.forEach(function(topic) { %>
                                            <div class="check_operation clearfix">
                                                <div id="msgCheckboxInput_1640328892" class="private_check" node-type="msgCheckBox" action-type="msgCheckBox" value="1640328892" name="msgList[]" style="display:none;">
                                                    <input class="W_checkbox" type="checkbox">
                                                </div>
                                                <dl class="private_list clearfix " uid="1640328892" node-type="messageUnit">
                                                    <dd class="close" action-data="uid=1640328892&userName=Python发烧友" action-type="delMessage">
                                                        <a class="hover W_ico12 icon_close" href="javascript:void(0);"></a>
                                                    </dd>
                                                    <dd class="content">
                                                        <p class="content_txt">
                                                            <%= topic.title %>
                                                        </p>
                                                        <p class="info S_txt2">
<span>
<em class="hover">
    <a style="color: #ff0000" action-data="mid=3555033436350229&is_send=1&allowForward=1" action-type="forwardMessage" href="/topic/remove/<%= topic._id %>" suda-data="key=message_all_forward_page&value=message_all_forward_page">删除</a>
    <i class="W_vline">|</i>
</em>
<a href="/message/history?uid=1640328892" node-type="messageDetail">共<%= topic.comments %>条评论</a>
<i class="W_vline">|</i>
<a action-data="userName=Python发烧友" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page" suda-uatrack="key=tblog_messages_behavior&value=quick_reply">浏览<%= topic.hits %>次</a>
</span>
                                                            <i class="date"><%= topic["formate"] %></i>
                                                        </p>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <% }) %>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="message_bottom_ac">
                                        <div class="message_allbtn">
                                            <a class="W_btn_a" node-type="allMsgReaded" href="javascript:;" suda-uatrack="key=tblog_messages_behavior&value=mark_as_read">
                                                <span>标记本页为已读</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="W_layer" style="position: absolute; z-index: 10001; top: 211px; left: 496px;" node-type="outer" stk-mask-key="136387303558114">
                            <div class="bg">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="content" node-type="layoutContent">
                                                <div class="title" node-type="title" style="cursor: move;">
                                                    <span node-type="title_content">删除全部</span>
                                                </div>
                                                <a class="W_ico16 W_close" node-type="close" title="关闭" href="javascript:void(0);"></a>
                                                <div class="layer_point layer_veriyfycodeN" style="width:auto;" node-type="inner">
                                                    <div node-type="outer">
                                                        <dl class="point clearfix">
                                                            <dt>
                                                                <span class="icon_questionM" node-type="icon"></span>
                                                            </dt>
                                                            <dd node-type="inner">
                                                                <p class="S_txt1" node-type="textLarge">删除对话内容将不可恢复，确定要删除与 Python发烧友 之间的所有对话？</p>
                                                                <p class="S_txt1" node-type="textSmall">
                                                                    <br>
                                                                    <input id="intoBlackList" type="checkbox">
                                                                    <label for="intoBlackList">同时将此用户加入黑名单</label>
                                                                </p>
                                                            </dd>
                                                        </dl>
                                                        <div node-type="textComplex"></div>
                                                        <div class="btn">
                                                            <a class="W_btn_a" node-type="OK" href="javascript:void(0)">
                                                                <span>确定</span>
                                                            </a>
                                                            <a class="W_btn_b" node-type="cancel" href="javascript:void(0)">
                                                                <span>取消</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->






                        </p>

                </div>
            </div>





        </div>
        <div class="context-overlay"></div>
    </div>
    <div id="footer-push"></div><!-- hack for sticky footer -->
</div><!-- end of wrapper - hack for sticky footer -->


    <% include ../common/foot.html %>

