<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>欢迎使用飞扬博客</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel='stylesheet' type="text/css" href='/stylesheets/bootstrap.min.css'/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>
        <link href="/stylesheets/css/login/theme.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/css/login/layout.css" media="screen" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/register.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <style>
            #info li a {
                padding: 20px 6px 10px;
            }
            .top_arrow{
                border: 0 none;
                bottom: 100px;
                cursor: pointer;
                display: block;
                height: auto;
                margin: 0;
                opacity: 0.5;
                padding: 0;
                position: fixed;
                right: 40px;
                width: 35px;
                z-index: 2147483647;
            }
        </style>
    </head>

    <body  data-target=".bs-docs-sidebar" data-spy="scroll" style="padding-bottom: 0px;">

        <div class="navbar navbar-inverse navbar-fixed-top logged_out  windows  env-production" >
            <div class="navbar-inner">
                <div class="container" style="width: 940px;">
                    <a class="brand" title="飞扬博客" href="/">
                        <img src="/images/LogoMaker.png" alt="飞扬博客">
                    </a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">首页</a></li>
                            <li><a href="/about">关于我们</a></li>
                        </ul>
                    </div>
                    <div class="nav pull-right">
                        <ul class="nav" id="info">
                            <% if (session.is_login) { %>
                            <li><a href="#">欢迎您,<%= session.user.username %></a></li>
                            <li><a href="/user/setting">设置</a></li>
                            <li><a href="/logout">退出</a></li>
                            <% } else { %>
                            <li><a href="/register">免费注册</a></li>
                            <li><a href="/login">登录</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="wrapper">

            <div class="site clearfix" style="padding-top: 60px;">

                <div class="alert alert-error" style="width:350px;margin: 30px auto;display: none;" id="validate_info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                <div id="site-container" class="context-loader-container" data-pjax-container>

                    <div class="auth-form" id="login">
                        <form accept-charset="UTF-8" method="post">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="authenticity_token" type="hidden" value="Dp8n6RWvJPVaucgSekXoKkg2h/M1aa/NNkpu3FM/vSU=" />
                            </div>
                            <div class="auth-form-header" style="font-size: 14px;">重置密码</div>

                            <div class="auth-form-body">
                                <label>新密码</label>
                                <input id="user_password" class="input-block" type="password" value="" tabindex="1" name="password" autofocus="autofocus" autocomplete="disabled">
                                <label>确认密码</label>
                                <input id="user_password_confirmation" class="input-block" type="password" value="" tabindex="2" name="password_confirmation" autocomplete="disabled">
                                <input class="button" type="submit" value="确认修改" tabindex="3" name="commit" onclick="return submitValidate();">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="context-overlay"></div>
            </div>
            <div id="footer-push"></div><!-- hack for sticky footer -->
        </div><!-- end of wrapper - hack for sticky footer -->

        <!-- footer -->
        <% include ../common/foot.html %>
