<!-- Footer -->
<footer class="footer">
    <div class="container" style="border-top: 1px solid #DDDDDD;padding: 30px 0;">
        <div class="copyright pull-left">
            <span>Copyright &copy; 2013 AllShare Inc. 基于NodeJS开发 欢迎提意见</span>

        </div>
        <div class="footer-about pull-right">
            <ul class="thumbnails">
                <li>
                    <div>
                        <ul>
                            <li>产品</li>
                            <li><a href="http://cnodejs.org/">参考案例</a></li>
                            <li><a href="https://github.com/shoyou/rnblogs">源码托管</a></li>
                            <!--<li><a href="/signup.html">在线注册</a></li>
                              <li><a href="/support.html">技术支持</a></li>-->
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul>
                            <li>关于</li>
                            <li><a href="/about">关于我们</a></li>
                            <!--<li><a href="/jobs.html">招贤纳士</a></li>
                            <li><a href="/privacy.html">服务条款</a></li>-->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- Load scripts-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<script>
    var jqs = '<' + 'script src="/js/libs/jquery-1.9.0.min.js"></' + 'script>';
    window.jQuery || document.write(jqs);
</script>
<!--<script src="js/libs/bootstrap/bootstrap.min.js"></script>

<script src="js/plugins/plugins.min.js?v=1.2"></script>-->

<script type="text/javascript">
    var require = {
        baseUrl:window.location.protocol + "//" + window.location.host
    };
</script>


<!--<script src="js/libs/require/require.js" data-main="/views/intro/index.min.js"></script>-->


<script>
    var _gaq = [['_setAccount', 'UA-34196034-4'], ['_setDomainName', 'yunshipei.com'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    } (document, 'script'));
</script>

<!-- Google Code for &#20877;&#33829;&#38144;&#20195;&#30721; -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 990305593;
    var google_conversion_label = "SG1JCM_j_QMQubqb2AM";
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>


<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/990305593/?value=0&amp;label=SG1JCM_j_QMQubqb2AM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

        <span id='server_response_time' data-time='0.01194' data-host='fe16'></span>
        <img id="top_arrow" class="top_arrow" style="display: block; cursor: pointer;" src="/images/top_arrow.png" alt="返回顶部"/>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#top_arrow").hide();
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 120) {
                        $('#top_arrow').fadeIn();
                    } else {
                        $('#top_arrow').fadeOut();
                    }
                });
                $('#top_arrow').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 500);
                });
            });
        </script>
    </body>
</html>